
$colorBackground:#fae8e6;
$colorBackgroundHeader: #86b19d; 
$colorBackgroundFooter: #6e8f8b;
$colorBackgroundSuscribirme: #536765;
$colorSuscribirmeHover:#fde1d3;
$colorBackgroundSet: #c0b1ec;
$colorBackgroundBox: #a3b0a7;


$colorDestacado: #616265;
$blanco: white;




$indefinido1:#f8c3bd;
$indefinido2:#cee2d7;

$borderTabla:  #51646a ;

